In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df_peru = pd.read_excel(r'alldatasets.xlsx',sheet_name='Peru')

In [3]:
df_peru.head()

,childid,country,height,stunting_2cat,EDUYRS2,z_score,timeschool,agegapr1,momeduyrsr1,chsexr1,agemonr1,hhsizer1,wi_newr1,job_cat,pvt_sector,earn,earn_usd
0,PE018001,Peru,154.000000,0.0,12.0,-0.239376,5.0,NaN,7.0,0,98,5,0.558814,5,1,700,207.403626
1,PE018002,Peru,163.000000,0.0,15.5,-0.244915,10.0,4.0,12.0,1,94,4,0.615497,2,1,0,0.000000
2,PE018004,Peru,157.000000,0.0,7.0,-0.143035,15.0,NaN,12.0,0,90,5,0.428947,5,1,400,118.516357
3,PE018005,Peru,156.500000,0.0,7.0,0.375651,30.0,0.0,9.0,0,91,4,0.337719,5,1,700,207.403626
4,PE018006,Peru,160.100006,0.0,12.0,0.435034,15.0,10.0,12.0,0,93,4,0.537803,5,1,1400,414.807251

In [4]:
df_peru.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469 entries, 0 to 468
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   childid        469 non-null    object
 1   country        469 non-null    object
 2   height         469 non-null    float64
 3   stunting_2cat  466 non-null    float64
 4   EDUYRS2        469 non-null    float64
 5   z_score        455 non-null    float64
 6   timeschool     460 non-null    float64
 7   agegapr1       360 non-null    float64
 8   momeduyrsr1    444 non-null    float64
 9   chsexr1        469 non-null    int64
 10  agemonr1       469 non-null    int64
 11  hhsizer1       469 non-null    int64
 12  wi_newr1       465 non-null    float64
 13  job_cat        469 non-null    int64
 14  pvt_sector     469 non-null    int64
 15  earn           469 non-null    int64
 16  earn_usd       469 non-null    float64
dtypes: float64(9), int64(6), object(2)
memory usage: 62.4+ KB

In [5]:
df_peru.describe()

,height,stunting_2cat,EDUYRS2,z_score,timeschool,agegapr1,momeduyrsr1,chsexr1,agemonr1,hhsizer1,wi_newr1,job_cat,pvt_sector,earn,earn_usd
count,469.000000,466.00000,469.000000,455.000000,460.000000,360.000000,444.000000,469.000000,469.000000,469.000000,465.000000,469.000000,469.0,469.000000,469.000000
mean,159.876546,0.26824,11.735608,0.025817,13.834783,4.216667,7.340090,0.554371,95.266525,5.628998,0.482522,4.385928,1.0,3984.511727,1180.574533
std,8.228957,0.44352,2.583733,0.975593,11.819212,4.241032,4.348567,0.497566,4.111607,1.981455,0.222880,1.425611,0.0,32608.976407,9661.742810
min,132.199997,0.00000,2.000000,-4.190911,0.000000,0.000000,0.000000,0.000000,79.000000,2.000000,0.083960,1.000000,1.0,0.000000,0.000000
25%,153.899994,0.00000,12.000000,-0.489117,5.000000,1.000000,4.000000,0.000000,92.000000,4.000000,0.287803,5.000000,1.0,500.000000,148.145447
50%,159.699997,0.00000,12.000000,0.094957,10.000000,3.000000,7.000000,1.000000,95.000000,5.000000,0.480636,5.000000,1.0,850.000000,251.847260
75%,165.600006,1.00000,12.000000,0.654553,20.000000,6.000000,12.000000,1.000000,98.000000,7.000000,0.672932,5.000000,1.0,1400.000000,414.807251
max,185.399994,1.00000,17.000000,2.952133,90.000000,24.000000,17.000000,1.000000,124.000000,17.000000,0.919173,6.000000,1.0,656000.000000,194366.828100

In [6]:
df_peru=df_peru.astype({"chsexr1": 'object', "job_cat": 'object', "pvt_sector": 'object',"stunting_2cat": 'object'})

In [7]:
df_peru.dtypes

childid           object
country           object
height           float64
stunting_2cat     object
EDUYRS2          float64
z_score          float64
timeschool       float64
agegapr1         float64
momeduyrsr1      float64
chsexr1           object
agemonr1           int64
hhsizer1           int64
wi_newr1         float64
job_cat           object
pvt_sector        object
earn               int64
earn_usd         float64
dtype: object

In [8]:
df_outlier=df_peru.copy()

In [9]:
df_outlier.dtypes

childid           object
country           object
height           float64
stunting_2cat     object
EDUYRS2          float64
z_score          float64
timeschool       float64
agegapr1         float64
momeduyrsr1      float64
chsexr1           object
agemonr1           int64
hhsizer1           int64
wi_newr1         float64
job_cat           object
pvt_sector        object
earn               int64
earn_usd         float64
dtype: object

In [10]:
total = df_outlier.isnull().sum().sort_values(ascending=False)
percent = (df_outlier.isnull().sum()/df_outlier.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Missing Percent'])
missing_data['Missing Percent'] = missing_data['Missing Percent'].apply(lambda x: x * 100)
missing_data.loc[missing_data['Missing Percent'] > 95]

Empty DataFrame
Columns: [Total, Missing Percent]
Index: []

In [11]:
df_outlier=df_outlier.select_dtypes(include=['int64','floating'])

In [12]:
df_outlier.dtypes

height         float64
EDUYRS2        float64
z_score        float64
timeschool     float64
agegapr1       float64
momeduyrsr1    float64
agemonr1         int64
hhsizer1         int64
wi_newr1       float64
earn             int64
earn_usd       float64
dtype: object

In [13]:
import warnings

warnings.filterwarnings('ignore')

In [14]:
df_outlier.dtypes

height         float64
EDUYRS2        float64
z_score        float64
timeschool     float64
agegapr1       float64
momeduyrsr1    float64
agemonr1         int64
hhsizer1         int64
wi_newr1       float64
earn             int64
earn_usd       float64
dtype: object

In [15]:
#sns.pairplot(df_outlier)

# Outlier Cappping

In [16]:
def cap_data(df):
    for col in df.columns:
        print("capping the ",col)
        if (((df[col].dtype)=='float64') | ((df[col].dtype)=='int64') | ((df[col].dtype)=='float32')):
            percentiles = df[col].quantile([0.01,0.99]).values
            df[col][df[col] <= percentiles[0]] = percentiles[0]
            df[col][df[col] >= percentiles[1]] = percentiles[1]
        else:
            df[col]=df[col]
    return df

In [17]:
final_df=cap_data(df_outlier)

capping the  height
capping the  EDUYRS2
capping the  z_score
capping the  timeschool
capping the  agegapr1
capping the  momeduyrsr1
capping the  agemonr1
capping the  hhsizer1
capping the  wi_newr1
capping the  earn
capping the  earn_usd

In [18]:
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler

In [19]:
df_peru=df_peru.drop(['childid','country'],axis=1)

In [20]:
all_category_features=df_peru.select_dtypes(include='object')

In [21]:
all_category_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469 entries, 0 to 468
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   stunting_2cat  466 non-null    object
 1   chsexr1        469 non-null    object
 2   job_cat        469 non-null    object
 3   pvt_sector     469 non-null    object
dtypes: object(4)
memory usage: 14.8+ KB

# KNN for Categories

In [22]:
mm = MinMaxScaler()

def find_category_mappings(df, variable):
    return {k: i for i, k in enumerate(df[variable].dropna().unique(), 0)}

def integer_encode(df , variable, ordinal_mapping):
    df[variable] = df[variable].map(ordinal_mapping)

mappin = dict()
def imputation(df1 , cols):
    df = df1.copy()
    #Encoding dict &amp; Removing nan    
    #mappin = dict()
    for variable in cols:
        mappings = find_category_mappings(df, variable)
        mappin[variable] = mappings

    #Apply mapping
    for variable in cols:
        integer_encode(df, variable, mappin[variable])  

    #Minmaxscaler and KNN imputation 
    sca = mm.fit_transform(df)
    knn_imputer = KNNImputer()
    knn = knn_imputer.fit_transform(sca)
    df.iloc[:,:] = mm.inverse_transform(knn)
    for i in df.columns : 
        df[i] = round(df[i]).astype('int')

    #Inverse transform
    for i in cols:
        inv_map = {v: k for k, v in mappin[i].items()}
        df[i] = df[i].map(inv_map)
    return df

In [23]:
df_cat_imp=imputation(all_category_features,['stunting_2cat','chsexr1','job_cat','pvt_sector'])

In [24]:
df_cat_imp.isnull().sum().sort_values(ascending = False)

pvt_sector       0
job_cat          0
chsexr1          0
stunting_2cat    0
dtype: int64

In [25]:
df_cat_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469 entries, 0 to 468
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   stunting_2cat  469 non-null    float64
 1   chsexr1        469 non-null    int64
 2   job_cat        469 non-null    int64
 3   pvt_sector     469 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 14.8 KB

In [26]:
#df_cat_imp.to_csv(r'C:\Users\rramr\OneDrive\Desktop\Modern Scientist Global\Peru\df_knn_before.csv', encoding='utf-8', index=True)

In [27]:
#all_category_features=df_et.select_dtypes(include='o')

In [28]:
#cat_dummies = pd.get_dummies(all_category_features, dummy_na=True)
#cat_dummies.head()

# KNN for numerics

In [29]:
df_knn=final_df.copy()

In [30]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
df_num_imp = pd.DataFrame(imputer.fit_transform(df_knn),columns = df_knn.columns)

In [31]:
df_num_imp.head()

,height,EDUYRS2,z_score,timeschool,agegapr1,momeduyrsr1,agemonr1,hhsizer1,wi_newr1,earn,earn_usd
0,154.000000,12.0,-0.239376,5.0,5.2,7.0,98.0,5.0,0.558814,700.0,207.403626
1,163.000000,15.5,-0.244915,10.0,4.0,12.0,94.0,4.0,0.615497,0.0,0.000000
2,157.000000,7.0,-0.143035,15.0,2.4,12.0,90.0,5.0,0.428947,400.0,118.516357
3,156.500000,7.0,0.375651,30.0,0.0,9.0,91.0,4.0,0.337719,700.0,207.403626
4,160.100006,12.0,0.435034,15.0,10.0,12.0,93.0,4.0,0.537803,1400.0,414.807251

In [32]:
df_outlier_concat = pd.concat([df_num_imp, df_cat_imp], axis=1)
df_outlier_concat.head()

,height,EDUYRS2,z_score,timeschool,agegapr1,momeduyrsr1,agemonr1,hhsizer1,wi_newr1,earn,earn_usd,stunting_2cat,chsexr1,job_cat,pvt_sector
0,154.000000,12.0,-0.239376,5.0,5.2,7.0,98.0,5.0,0.558814,700.0,207.403626,0.0,0,5,1
1,163.000000,15.5,-0.244915,10.0,4.0,12.0,94.0,4.0,0.615497,0.0,0.000000,0.0,1,2,1
2,157.000000,7.0,-0.143035,15.0,2.4,12.0,90.0,5.0,0.428947,400.0,118.516357,0.0,0,5,1
3,156.500000,7.0,0.375651,30.0,0.0,9.0,91.0,4.0,0.337719,700.0,207.403626,0.0,0,5,1
4,160.100006,12.0,0.435034,15.0,10.0,12.0,93.0,4.0,0.537803,1400.0,414.807251,0.0,0,5,1

In [33]:
df_outlier_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469 entries, 0 to 468
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   height         469 non-null    float64
 1   EDUYRS2        469 non-null    float64
 2   z_score        469 non-null    float64
 3   timeschool     469 non-null    float64
 4   agegapr1       469 non-null    float64
 5   momeduyrsr1    469 non-null    float64
 6   agemonr1       469 non-null    float64
 7   hhsizer1       469 non-null    float64
 8   wi_newr1       469 non-null    float64
 9   earn           469 non-null    float64
 10  earn_usd       469 non-null    float64
 11  stunting_2cat  469 non-null    float64
 12  chsexr1        469 non-null    int64
 13  job_cat        469 non-null    int64
 14  pvt_sector     469 non-null    int64
dtypes: float64(12), int64(3)
memory usage: 55.1 KB

In [34]:
df_outlier_concat=df_outlier_concat.astype({"stunting_2cat": 'int64'})

In [35]:
df_outlier_concat.head()

,height,EDUYRS2,z_score,timeschool,agegapr1,momeduyrsr1,agemonr1,hhsizer1,wi_newr1,earn,earn_usd,stunting_2cat,chsexr1,job_cat,pvt_sector
0,154.000000,12.0,-0.239376,5.0,5.2,7.0,98.0,5.0,0.558814,700.0,207.403626,0,0,5,1
1,163.000000,15.5,-0.244915,10.0,4.0,12.0,94.0,4.0,0.615497,0.0,0.000000,0,1,2,1
2,157.000000,7.0,-0.143035,15.0,2.4,12.0,90.0,5.0,0.428947,400.0,118.516357,0,0,5,1
3,156.500000,7.0,0.375651,30.0,0.0,9.0,91.0,4.0,0.337719,700.0,207.403626,0,0,5,1
4,160.100006,12.0,0.435034,15.0,10.0,12.0,93.0,4.0,0.537803,1400.0,414.807251,0,0,5,1

In [36]:
df_knn_imp=df_outlier_concat.copy()

In [37]:
import statsmodels.api as sm

# cognition

In [38]:
#cognition

X = df_knn_imp["stunting_2cat"] ## X usually means our input variables (or independent variables)
y = df_knn_imp["z_score"] ## Y usually means our output/dependent variable
X = sm.add_constant(X) ## let's add an intercept (beta_0) to our model
# Note the difference in argument order
model = sm.OLS(y, X,missing='drop').fit() ## sm.OLS(output, input)
predictions = model.predict(X)

# Print out the statistics
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                z_score   R-squared:                       0.046
Model:                            OLS   Adj. R-squared:                  0.044
Method:                 Least Squares   F-statistic:                     22.63
Date:                Tue, 11 May 2021   Prob (F-statistic):           2.62e-06
Time:                        15:55:30   Log-Likelihood:                -615.29
No. Observations:                 469   AIC:                             1235.
Df Residuals:                     467   BIC:                             1243.
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const             0.1563      0.049      3.210      0.001       0.061       0.252
stunting_2cat    -0.4451      0.094     -4.757      0.000      -0.629      -0.261
==============================================================================
Omnibus:                       20.679   Durbin-Watson:                   1.564
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               22.437
Skew:                          -0.490   Prob(JB):                     1.34e-05
Kurtosis:                       3.435   Cond. No.                         2.45
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# height

In [39]:
#Height

X = df_knn_imp["stunting_2cat"] ## X usually means our input variables (or independent variables)
y = df_knn_imp["height"] ## Y usually means our output/dependent variable
X = sm.add_constant(X) ## let's add an intercept (beta_0) to our model
# Note the difference in argument order
model = sm.OLS(y, X,missing='drop').fit() ## sm.OLS(output, input)
predictions = model.predict(X)

# Print out the statistics
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 height   R-squared:                       0.116
Model:                            OLS   Adj. R-squared:                  0.114
Method:                 Least Squares   F-statistic:                     61.04
Date:                Tue, 11 May 2021   Prob (F-statistic):           3.73e-14
Time:                        15:55:30   Log-Likelihood:                -1613.2
No. Observations:                 469   AIC:                             3230.
Df Residuals:                     467   BIC:                             3239.
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const           161.5384      0.409    395.129      0.000     160.735     162.342
stunting_2cat    -6.1379      0.786     -7.813      0.000      -7.682      -4.594
==============================================================================
Omnibus:                       28.469   Durbin-Watson:                   2.037
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               11.333
Skew:                           0.080   Prob(JB):                      0.00346
Kurtosis:                       2.255   Cond. No.                         2.45
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# education

In [40]:
#education

X = df_knn_imp["stunting_2cat"] ## X usually means our input variables (or independent variables)
y = df_knn_imp["EDUYRS2"] ## Y usually means our output/dependent variable
X = sm.add_constant(X) ## let's add an intercept (beta_0) to our model
# Note the difference in argument order
model = sm.OLS(y, X,missing='drop').fit() ## sm.OLS(output, input)
predictions = model.predict(X)

# Print out the statistics
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                EDUYRS2   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                 -0.001
Method:                 Least Squares   F-statistic:                    0.3607
Date:                Tue, 11 May 2021   Prob (F-statistic):              0.548
Time:                        15:55:30   Log-Likelihood:                -1099.4
No. Observations:                 469   AIC:                             2203.
Df Residuals:                     467   BIC:                             2211.
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const            11.7984      0.137     86.325      0.000      11.530      12.067
stunting_2cat    -0.1577      0.263     -0.601      0.548      -0.674       0.358
==============================================================================
Omnibus:                       22.410   Durbin-Watson:                   1.960
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               24.275
Skew:                          -0.538   Prob(JB):                     5.36e-06
Kurtosis:                       3.289   Cond. No.                         2.45
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# cognition covariates

In [41]:
X = df_knn_imp[["stunting_2cat",'agemonr1','chsexr1','agegapr1','momeduyrsr1','hhsizer1','wi_newr1']] ## X usually means our input variables (or independent variables)
y = df_knn_imp["z_score"] ## Y usually means our output/dependent variable
X = sm.add_constant(X) ## let's add an intercept (beta_0) to our model
# Note the difference in argument order
model = sm.OLS(y, X,missing='drop').fit() ## sm.OLS(output, input)
predictions = model.predict(X)

# Print out the statistics
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                z_score   R-squared:                       0.328
Model:                            OLS   Adj. R-squared:                  0.318
Method:                 Least Squares   F-statistic:                     32.20
Date:                Tue, 11 May 2021   Prob (F-statistic):           2.20e-36
Time:                        15:55:30   Log-Likelihood:                -533.03
No. Observations:                 469   AIC:                             1082.
Df Residuals:                     461   BIC:                             1115.
Df Model:                           7
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const            -1.5805      0.913     -1.731      0.084      -3.375       0.214
stunting_2cat    -0.1314      0.083     -1.591      0.112      -0.294       0.031
agemonr1          0.0102      0.009      1.073      0.284      -0.008       0.029
chsexr1          -0.0017      0.071     -0.024      0.981      -0.141       0.138
agegapr1          0.0078      0.009      0.824      0.410      -0.011       0.026
momeduyrsr1       0.0496      0.010      5.062      0.000       0.030       0.069
hhsizer1         -0.0705      0.019     -3.656      0.000      -0.108      -0.033
wi_newr1          1.4130      0.186      7.578      0.000       1.047       1.779
==============================================================================
Omnibus:                       10.395   Durbin-Watson:                   1.918
Prob(Omnibus):                  0.006   Jarque-Bera (JB):               10.643
Skew:                          -0.322   Prob(JB):                      0.00489
Kurtosis:                       3.361   Cond. No.                     2.49e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.49e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# Height covariates

In [42]:
X = df_knn_imp[["stunting_2cat",'agemonr1','chsexr1','agegapr1','momeduyrsr1','hhsizer1','wi_newr1']] ## X usually means our input variables (or independent variables)
y = df_knn_imp["height"] ## Y usually means our output/dependent variable
X = sm.add_constant(X) ## let's add an intercept (beta_0) to our model
# Note the difference in argument order
model = sm.OLS(y, X,missing='drop').fit() ## sm.OLS(output, input)
predictions = model.predict(X)

# Print out the statistics
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 height   R-squared:                       0.643
Model:                            OLS   Adj. R-squared:                  0.638
Method:                 Least Squares   F-statistic:                     118.9
Date:                Tue, 11 May 2021   Prob (F-statistic):           4.78e-99
Time:                        15:55:30   Log-Likelihood:                -1400.2
No. Observations:                 469   AIC:                             2816.
Df Residuals:                     461   BIC:                             2850.
Df Model:                           7
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const           148.2514      5.800     25.560      0.000     136.853     159.650
stunting_2cat    -6.3405      0.525    -12.082      0.000      -7.372      -5.309
agemonr1          0.0593      0.060      0.983      0.326      -0.059       0.178
chsexr1          11.6562      0.451     25.818      0.000      10.769      12.543
agegapr1          0.0036      0.060      0.059      0.953      -0.114       0.122
momeduyrsr1       0.0870      0.062      1.396      0.163      -0.035       0.209
hhsizer1          0.0196      0.122      0.160      0.873      -0.221       0.260
wi_newr1          0.9712      1.185      0.820      0.413      -1.357       3.299
==============================================================================
Omnibus:                        2.023   Durbin-Watson:                   1.739
Prob(Omnibus):                  0.364   Jarque-Bera (JB):                1.849
Skew:                           0.148   Prob(JB):                        0.397
Kurtosis:                       3.082   Cond. No.                     2.49e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.49e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# education covariates

In [43]:
X = df_knn_imp[["stunting_2cat",'agemonr1','chsexr1','agegapr1','momeduyrsr1','hhsizer1','wi_newr1']] ## X usually means our input variables (or independent variables)
y = df_knn_imp["EDUYRS2"] ## Y usually means our output/dependent variable
X = sm.add_constant(X) ## let's add an intercept (beta_0) to our model
# Note the difference in argument order
model = sm.OLS(y, X,missing='drop').fit() ## sm.OLS(output, input)
predictions = model.predict(X)

# Print out the statistics
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                EDUYRS2   R-squared:                       0.087
Model:                            OLS   Adj. R-squared:                  0.074
Method:                 Least Squares   F-statistic:                     6.311
Date:                Tue, 11 May 2021   Prob (F-statistic):           4.33e-07
Time:                        15:55:30   Log-Likelihood:                -1078.1
No. Observations:                 469   AIC:                             2172.
Df Residuals:                     461   BIC:                             2205.
Df Model:                           7
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const             8.4246      2.918      2.887      0.004       2.689      14.160
stunting_2cat     0.2686      0.264      1.017      0.310      -0.250       0.787
agemonr1          0.0281      0.030      0.925      0.356      -0.032       0.088
chsexr1          -0.5897      0.227     -2.596      0.010      -1.036      -0.143
agegapr1         -0.0348      0.030     -1.153      0.250      -0.094       0.025
momeduyrsr1       0.0342      0.031      1.090      0.276      -0.027       0.096
hhsizer1         -0.0754      0.062     -1.223      0.222      -0.196       0.046
wi_newr1          2.5512      0.596      4.280      0.000       1.380       3.723
==============================================================================
Omnibus:                       12.426   Durbin-Watson:                   1.974
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               12.770
Skew:                          -0.401   Prob(JB):                      0.00169
Kurtosis:                       3.097   Cond. No.                     2.49e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.49e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""